<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>

<form action="/data" method = "POST">
    <p>First Latitude <input type = "number" step = "any" name = "Lat1" /></p>
    <p>First Longitude <input type = "number" step = "any" name = "Long1" /></p>
    <p>Second Latitude <input type = "number" step = "any" name = "Lat2" /></p>
    <p>Second Longitude <input type = "number" step = "any" name = "Long2" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>

</body>
</html>