
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
    text-align: center;
    padding: 1em;
    background-color: #252733;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.swn {
    display: flex;
    position: fixed;
    background-color: #282c34;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}


.swn {
    animation: fadeInAnimation ease 4s;
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 1;
    }
    80% {
        pointer-events: none;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

.map-container {
    display: flex;
    border-radius: 0.5em;
    cursor: crosshair;
}
.map {
    z-index: 0;
    width: 100%;
    height: 60dvh;
}